body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.main-card {
    width: 900px;
    height: 650px;
    background-color: lightgray;
    margin: 40px auto;
    border-radius: 10px;
}

.email-card {
    width: 260px;
    padding: 20px;
    
}

.email-input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(128, 90, 164);
}

.email-card-btn {
    width: 256px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.center {
    text-align: center;
}