@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

/* This is the boiler code of CSS same like as HTML. Before starting we have to use this */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: "BBH Bogle", sans-serif; */
}

.font-style {}

/* h1 {
    text-align: center;
    font-size: 46px;
} */

/* 
Box Model:
---------
It is having three properties are:
    1) border: 5px, solid, gray;
       * 5px: it means thickness of the border.
       * second property is to type of the border are: dotted, solid, dashed, groove etc.
       * third property we can choose any of the color.
    We can take the position of the boarder using border-top, bottom, left and right.

    2) padding
       It means, whenever we need a space inside of the border we can use padding.

    3) margin
       it means, whenever we need a space outside of the border we can use margin.
       margin: 80px
       * This is applied for all four columns. 
       margin: 80px auto;
       * 80px: This first value refers top and bottom
       * auto: second value refers right and left. When we use as auto maximum space is given by left and maximum space is given by right
*/

/* padding and margin works without border property, because there is a parent border within that that is not visible for us. */

/* Why dot? Class name always starts with dot. */

.box {
    border: 1px, solid, gray;
    width: 360px;
    padding: 30px;
    margin: 80px auto;
    border-radius: 20px;
}

/* When to use percentage? 
whenever we want to refer something with the parent element we can use percentage %  
*/

.box-img {
    width: 100px;
    border-radius: 20px;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.bg {
    width: 880px;
    background-color: grey;
    margin: 50px auto;
    padding: 140px 50px;
    border-radius: 20px;

}

.btn {
    padding: 16px 20px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
}

/* .center {
    text-align: center;
} */


.login {
    width: 400px;
    margin: 180px auto;
}

.input {
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgb(180, 178, 178);
    font-size: 16px;

    /* box-sizing: border-box; We are able to apply padding in margin an it ensures that nothing is going to out of the box.
    Basic usage it ensures that the content is not outside and we are able to make apply padding and margin. */

}

.login-btn {
    width: 100%;
    background-color: black;
    font-size: 16px;
    border-radius: 12px;
    padding: 16px;
    border: none;
    color: white;
}

.center {
    text-align: center;
}

.google-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


.card {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 14px;
    margin: 50px auto;


    /* margin: 10px 20px 30px 40px;
    This means clockwise direction is applied, top, right, bottom, and left. Same works for padding as well.
    */
}

.card-img {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

}

.padding {
    padding: 8px;
}

.border {
    border-top: 2px solid lightgray;
}