body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.side-bar {
  width: 300px;
  border-right: 1px solid lightgray;
  position: fixed;
}

.logo {
  margin: 30px;
}

.icon-align {
  margin: 30px;
}

.home-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.sidemenu-txt {
  font-size: 18px;
}

.search-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.explore-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.reels-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.messages-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.notifications-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.create-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.profile-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.footer-menu {
  margin: 100px 0px;
}

.more-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.meta-icon {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.messages {
  display: flex;
  align-items: center;
  position: fixed;

  bottom: 50px;
  right: 100px;
  gap: 10px;

  background: #fff;
  padding: 18px 80px;
  border-radius: 999px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.insta-post {
  width: 540px;
  position: absolute;
  margin: auto 520px;
}

.profile-section {
  width: 360px;
  margin: auto 1150px;
  height: 620px;
  padding: 30px 40px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-profile {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
}

.userName {
  color: rgb(68, 66, 66);
  font-size: 14px;
}

.switch-link {
  font-size: 14px;
  font-weight: 500;
  margin-left: 130px;
}

.suggested-sec {
  margin: 70px auto;
  display: flex;
  gap: 140px;
}

.seeAll-link {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.suggested-profiles {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: -30px auto;
}

.suggested1-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.suggested2-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 50px auto;
}

.suggested3-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: -30px auto;
}

.suggested4-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 50px auto;
}

.suggested5-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: -30px auto;
}

.follow-link {
  font-size: 14px;
  font-weight: 500;
  margin-left: 95px;
}

.footer {
  margin: 100px auto;
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

.footer-sec {
  text-decoration: none;
  color: gray;
}
